# Generated with protoc-gen-openapi
# https://github.com/google/gnostic/tree/master/cmd/protoc-gen-openapi

openapi: 3.1.0
info:
    title: Cursor Origin API
    description: Public third-party-facing Origin API.
    version: v1alpha1
servers:
    - url: https://api.cursor.com
paths:
    /v1/origin/app:
        get:
            tags:
                - OriginService
            description: Returns metadata for the authenticated app.
            operationId: OriginService_GetAuthenticatedApp
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/App'
                            examples:
                                getAuthenticatedApp:
                                    value:
                                        id: app_01k2ja2000e0080000000000a1
                                        displayName: CI Status Bot
                                        webhookUrl: https://ci.acme.dev/webhooks/origin
                                        events:
                                            - pull_request.created
                                            - pull_request.merged
                                        createdAt: "2026-08-01T09:30:00Z"
                                        updatedAt: "2026-08-02T14:45:00Z"
                                        installationRedirectUris:
                                            - https://ci.acme.dev/origin/setup
                                        namespaceSlug: acme
                                        description: Posts CI status on pull requests.
                                        websiteUrl: https://ci.acme.dev
                                        defaultScopes:
                                            - repository:contents:read
                                            - repository:pull_requests:read
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "404":
                    description: The authenticated app no longer exists.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - app
                scopes:
                    - app:metadata:read
                ambient: true
    /v1/origin/app/installations:
        get:
            tags:
                - OriginService
            description: Lists installations for the authenticated app.
            operationId: OriginService_ListAppInstallations
            parameters:
                - name: pageSize
                  in: query
                  description: |-
                    Max installations to return. Defaults to 30 when unset or 0. Values
                     above 100 are clamped to 100.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: |-
                    Opaque cursor from a previous response's `next_page_token`. Empty for the
                     first page.
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListAppInstallationsResponse'
                            examples:
                                listAppInstallations:
                                    value:
                                        installations:
                                            - id: inst_01k2ja2000e0080000000000b2
                                              appId: app_01k2ja2000e0080000000000a1
                                              target:
                                                slug: acme
                                                id: ns_01k2ja2000e0080000000000p3
                                                type: team
                                              createdAt: "2026-08-01T09:30:00Z"
                                              updatedAt: "2026-08-02T14:45:00Z"
                                              repoSelectionMode: selected
                                              scopes:
                                                - repository:contents:read
                                                - repository:pull_requests:read
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - app
                scopes:
                    - app:metadata:read
                ambient: true
    /v1/origin/app/installations/{installationId}:
        get:
            tags:
                - OriginService
            description: Returns a single installation for the authenticated app.
            operationId: OriginService_GetAppInstallation
            parameters:
                - name: installationId
                  in: path
                  description: Installation identifier.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AppInstallation'
                            examples:
                                getAppInstallation:
                                    value:
                                        id: inst_01k2ja2000e0080000000000b2
                                        appId: app_01k2ja2000e0080000000000a1
                                        target:
                                            slug: acme
                                            id: ns_01k2ja2000e0080000000000p3
                                            type: team
                                        createdAt: "2026-08-01T09:30:00Z"
                                        updatedAt: "2026-08-02T14:45:00Z"
                                        repoSelectionMode: selected
                                        scopes:
                                            - repository:contents:read
                                            - repository:pull_requests:read
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "404":
                    description: The addressed resource, or its repository, does not exist or is not visible to the caller. Not-found and no-access are deliberately indistinguishable; a 404 never confirms that the resource does not exist.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - app
                scopes:
                    - app:metadata:read
                ambient: true
        delete:
            tags:
                - OriginService
            description: Deletes an installation that belongs to the authenticated app.
            operationId: OriginService_DeleteAppInstallation
            parameters:
                - name: installationId
                  in: path
                  description: |-
                    The unique identifier of the installation to delete. Bound from the URL
                     path; the installation must belong to the authenticated app.
                  required: true
                  schema:
                    type: string
            responses:
                "204":
                    description: OK
                    content: {}
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "404":
                    description: The addressed resource, or its repository, does not exist or is not visible to the caller. Not-found and no-access are deliberately indistinguishable; a 404 never confirms that the resource does not exist.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - app
                scopes:
                    - app:metadata:write
                ambient: true
    /v1/origin/app/installations/{installationId}/access_tokens:
        post:
            tags:
                - OriginService
            description: |-
                Creates an installation access token for the authenticated app.

                 Requires app signing-JWT authentication, like GetAuthenticatedApp. The
                 token is scoped to the named installation, which must belong to the
                 authenticated app.
                 Callers may attenuate the token to a subset of the installation's accepted
                 scopes and accessible repositories.
            operationId: OriginService_CreateInstallationAccessToken
            parameters:
                - name: installationId
                  in: path
                  description: |-
                    The unique identifier of the installation to scope the token to. Bound from
                     the URL path; the installation must belong to the authenticated app.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                scopes:
                                    type: array
                                    items:
                                        type: string
                                    description: |-
                                        Scope strings to grant the token. Values must be unique and included in the
                                         installation's accepted scopes. Empty or omitted inherits the full scope grant.
                                repositoryIds:
                                    type: array
                                    items:
                                        type: string
                                    description: |-
                                        Repository IDs to grant the token. Values must be unique, accessible to the
                                         installation, and contain at most 50 entries. Empty or omitted inherits all
                                         accessible repositories.
                        examples:
                            createInstallationAccessToken:
                                value:
                                    scopes:
                                        - repository:contents:read
                                        - repository:pull_requests:read
                                    repositoryIds:
                                        - repo_01k2ja2000e0080000000000q4
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/InstallationAccessToken'
                            examples:
                                createInstallationAccessToken:
                                    value:
                                        token: oit_2v8xkq4m1c7p9t3w5y0z6r4b
                                        expiresAt: "2026-08-01T10:30:00Z"
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "404":
                    description: The addressed resource, or its repository, does not exist or is not visible to the caller. Not-found and no-access are deliberately indistinguishable; a 404 never confirms that the resource does not exist.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - app
                scopes:
                    - app:metadata:read
                ambient: true
    /v1/origin/app/webhook/deliveries:
        get:
            tags:
                - OriginService
            description: |-
                Lists webhook deliveries for the authenticated app, newest first.

                 A delivery is one event owed to one app; its id is the `webhook-id`
                 header value the receiver sees. `delivered=false` is the recovery
                 predicate: every delivery the receiver has never acknowledged with a 2xx,
                 regardless of where retries stand.

                 Deliveries are listable for 7 days after creation, and only while the app
                 has an active installation in the delivery's namespace. App-targeted
                 lifecycle events (for example `installation.deleted`) stay visible after
                 the uninstall they describe.
            operationId: OriginService_ListWebhookDeliveries
            parameters:
                - name: delivered
                  in: query
                  description: |-
                    Compares against `delivered_at`. `delivered=false` is the recovery
                     predicate: it selects every delivery that has never received a 2xx,
                     including deliveries whose retry ladder exhausted during an outage.
                  schema:
                    type: boolean
                - name: eventType
                  in: query
                  description: Exact event type, e.g. `pull_request.created`.
                  schema:
                    type: string
                - name: installationId
                  in: query
                  description: Narrow to one installation (`WebhookDelivery.installation.id`).
                  schema:
                    type: string
                - name: createdAfter
                  in: query
                  description: Bound the delivery's creation time. For browsing, not for recovery.
                  schema:
                    type: string
                    format: date-time
                - name: createdBefore
                  in: query
                  schema:
                    type: string
                    format: date-time
                - name: pageSize
                  in: query
                  description: Defaults to 30 when unset or 0. Values above 100 are clamped to 100.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: |-
                    Opaque cursor from a previous response's `next_page_token`. Empty for the
                     first page.
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListWebhookDeliveriesResponse'
                            examples:
                                listWebhookDeliveries:
                                    value:
                                        deliveries:
                                            - id: whd_01k2ja2000e0080000000000j9
                                              event:
                                                id: evt_01k2ja2000e0080000000000r5
                                                type: pull_request.created
                                              installation:
                                                id: inst_01k2ja2000e0080000000000b2
                                                target:
                                                    slug: acme
                                                    id: ns_01k2ja2000e0080000000000p3
                                                    type: team
                                              createdAt: "2026-08-01T09:30:00Z"
                                              deliveredAt: "2026-08-02T14:45:05Z"
                                              lastAttempt:
                                                id: wha_01k2ja2000e0080000000000k0
                                                deliveryId: whd_01k2ja2000e0080000000000j9
                                                trigger: automatic
                                                responseStatusCode: 200
                                                latencyMs: 182
                                                attemptedAt: "2026-08-02T14:45:05Z"
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - app
                scopes:
                    - app:webhook_deliveries:read
                ambient: true
    /v1/origin/app/webhook/deliveries:batchRedeliver:
        post:
            tags:
                - OriginService
            description: |-
                Asks Origin to send deliveries again.

                 The request means "ensure a send is in flight for each of these", not
                 "add another send". Follows BatchGetContents in returning one result per
                 unique input rather than failing the batch on a bad entry, so a single
                 expired id cannot block the rest of a recovery page.

                 Answers 202: the sends are queued, delivery itself is asynchronous. Poll
                 ListWebhookDeliveries for outcomes.
            operationId: OriginService_BatchRedeliverWebhookDeliveries
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/BatchRedeliverWebhookDeliveriesRequest'
                        examples:
                            batchRedeliverWebhookDeliveries:
                                value:
                                    deliveryIds:
                                        - whd_01k2ja2000e0080000000000j9
                required: true
            responses:
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "202":
                    description: 'Accepted: the sends are queued, delivery itself is asynchronous.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BatchRedeliverWebhookDeliveriesResponse'
                            examples:
                                batchRedeliverWebhookDeliveries:
                                    value:
                                        results:
                                            - deliveryId: whd_01k2ja2000e0080000000000j9
                                              outcome: queued
            x-origin-scopes:
                tokenTypes:
                    - app
                scopes:
                    - app:webhook_deliveries:write
                ambient: true
    /v1/origin/app/webhook/pings:
        post:
            tags:
                - OriginService
            description: |-
                Sends a synthetic `ping` test delivery to the authenticated app's
                 configured webhook URL and reports the receiver's response, so a
                 receiver can be verified during setup without waiting for a real event.

                 The ping is signed exactly like production deliveries (Standard Webhooks
                 headers; verify against `/v1/origin/keys`) with event type `ping` and a
                 payload identifying the app. It is sent once, synchronously, with no
                 retries, and does not appear in ListWebhookDeliveries. Requires a
                 configured webhook URL; rejected with FAILED_PRECONDITION otherwise.
            operationId: OriginService_PingWebhook
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/PingWebhookRequest'
                        examples:
                            pingWebhook:
                                value: {}
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PingWebhookResponse'
                            examples:
                                pingWebhook:
                                    value:
                                        deliveryId: whd_01k2ja2000e0080000000000j9
                                        eventId: evt_01k2ja2000e0080000000000r5
                                        delivered: true
                                        responseStatusCode: 200
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - app
                scopes:
                    - app:webhook_deliveries:write
                ambient: true
    /v1/origin/apps/{appId}:
        get:
            tags:
                - OriginService
            description: |-
                Returns a single app by its identifier.

                 This is the management read for app publishers; GetAuthenticatedApp is
                 the equivalent self-read for the app's own JWT credential.
            operationId: OriginService_GetApp
            parameters:
                - name: appId
                  in: path
                  description: App identifier.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/App'
                            examples:
                                getApp:
                                    value:
                                        id: app_01k2ja2000e0080000000000a1
                                        displayName: CI Status Bot
                                        webhookUrl: https://ci.acme.dev/webhooks/origin
                                        events:
                                            - pull_request.created
                                            - pull_request.merged
                                        createdAt: "2026-08-01T09:30:00Z"
                                        updatedAt: "2026-08-02T14:45:00Z"
                                        installationRedirectUris:
                                            - https://ci.acme.dev/origin/setup
                                        namespaceSlug: acme
                                        description: Posts CI status on pull requests.
                                        websiteUrl: https://ci.acme.dev
                                        defaultScopes:
                                            - repository:contents:read
                                            - repository:pull_requests:read
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "404":
                    description: The addressed resource, or its repository, does not exist or is not visible to the caller. Not-found and no-access are deliberately indistinguishable; a 404 never confirms that the resource does not exist.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - user
                scopes:
                    - app:settings:read
        patch:
            tags:
                - OriginService
            description: |-
                Updates an app's settings. Omitted fields are left unchanged; at least
                 one settable field must be provided.

                 Clearing `webhook_url` (providing it as an empty string) disables
                 outbound webhook delivery and cancels the app's pending deliveries;
                 re-setting a URL later does not resurrect cancelled deliveries.
            operationId: OriginService_UpdateApp
            parameters:
                - name: appId
                  in: path
                  description: App identifier.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                displayName:
                                    type: string
                                    description: New human-facing app name. Must not be empty when provided.
                                webhookUrl:
                                    type: string
                                    description: |-
                                        New outbound webhook delivery URL: an absolute https URL. Providing an
                                         empty string disables webhook delivery and cancels the app's pending
                                         deliveries.
                                events:
                                    allOf:
                                        - $ref: '#/components/schemas/AppEventsReplace'
                                    description: |-
                                        Clean replace of the outbound webhook event subscriptions. Absent leaves
                                         them unchanged; present with an empty list clears them.
                                description:
                                    type: string
                                    description: New app description. Absent leaves it unchanged; empty clears it.
                                websiteUrl:
                                    type: string
                                    description: New publisher website. Absent leaves it unchanged; empty clears it.
                                installationRedirectUris:
                                    allOf:
                                        - $ref: '#/components/schemas/AppInstallationRedirectUrisReplace'
                                    description: |-
                                        Clean replace of the OAuth install callback allowlist. Absent leaves it
                                         unchanged; present with an empty list clears it.
                                defaultScopes:
                                    allOf:
                                        - $ref: '#/components/schemas/AppDefaultScopesReplace'
                                    description: |-
                                        Clean replace of the app's default install scopes. Absent leaves them
                                         unchanged; present with an empty list clears them.
                        examples:
                            updateApp:
                                value:
                                    webhookUrl: https://ci.acme.dev/webhooks/origin-v2
                                    events:
                                        events:
                                            - pull_request.created
                                            - pull_request.merged
                                            - repository.pushed
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/App'
                            examples:
                                updateApp:
                                    value:
                                        id: app_01k2ja2000e0080000000000a1
                                        displayName: CI Status Bot
                                        webhookUrl: https://ci.acme.dev/webhooks/origin-v2
                                        events:
                                            - pull_request.created
                                            - pull_request.merged
                                            - repository.pushed
                                        createdAt: "2026-08-01T09:30:00Z"
                                        updatedAt: "2026-08-02T14:45:00Z"
                                        installationRedirectUris:
                                            - https://ci.acme.dev/origin/setup
                                        namespaceSlug: acme
                                        description: Posts CI status on pull requests.
                                        websiteUrl: https://ci.acme.dev
                                        defaultScopes:
                                            - repository:contents:read
                                            - repository:pull_requests:read
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "404":
                    description: The addressed resource, or its repository, does not exist or is not visible to the caller. Not-found and no-access are deliberately indistinguishable; a 404 never confirms that the resource does not exist.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - user
                scopes:
                    - app:settings:write
    /v1/origin/apps/{appId}/signing_keys:
        post:
            tags:
                - OriginService
            description: |-
                Adds a signing key to an app.

                 Apps hold a bounded set of active signing keys; adding a key beyond the
                 limit is rejected with a failed-precondition error until another key is
                 revoked. A key that is already registered is rejected with an
                 already-exists error.
            operationId: OriginService_AddAppSigningKey
            parameters:
                - name: appId
                  in: path
                  description: App identifier.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            required:
                                - publicKey
                            type: object
                            properties:
                                publicKey:
                                    type: string
                                    description: PEM SPKI Ed25519 public key to add to the app's signing key set.
                        examples:
                            addAppSigningKey:
                                value:
                                    publicKey: |-
                                        -----BEGIN PUBLIC KEY-----
                                        MCowBQYDK2VwAyEAq9zTf3hL6wXe1cVj0bYs5mKR8uDnG2oAaPp4NiEkKlM=
                                        -----END PUBLIC KEY-----
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AppSigningKey'
                            examples:
                                addAppSigningKey:
                                    value:
                                        kid: 3q2xW9dK5fJm8vB1nY6cT0aZrQpLh4eGkVsN7uMxOdI
                                        createdAt: "2026-08-02T14:45:00Z"
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "404":
                    description: The addressed resource, or its repository, does not exist or is not visible to the caller. Not-found and no-access are deliberately indistinguishable; a 404 never confirms that the resource does not exist.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "409":
                    description: The request conflicts with the current state of the resource.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - user
                scopes:
                    - app:settings:write
    /v1/origin/apps/{appId}/signing_keys/{kid}:
        delete:
            tags:
                - OriginService
            description: |-
                Revokes an app signing key by its key ID.

                 JWTs signed with a revoked key stop authenticating. The last active
                 signing key cannot be revoked; the request is rejected with a
                 failed-precondition error.
            operationId: OriginService_RevokeAppSigningKey
            parameters:
                - name: appId
                  in: path
                  description: App identifier.
                  required: true
                  schema:
                    type: string
                - name: kid
                  in: path
                  description: Key ID of the signing key to revoke.
                  required: true
                  schema:
                    type: string
            responses:
                "204":
                    description: OK
                    content: {}
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "404":
                    description: The addressed resource, or its repository, does not exist or is not visible to the caller. Not-found and no-access are deliberately indistinguishable; a 404 never confirms that the resource does not exist.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - user
                scopes:
                    - app:settings:write
    /v1/origin/installation/repos:
        get:
            tags:
                - OriginService
            description: |-
                Lists repositories accessible to the authenticated app installation.

                 Requires an installation access token (`oit_`) minted by
                 CreateInstallationAccessToken.
            operationId: OriginService_ListAppInstallationRepositories
            parameters:
                - name: pageSize
                  in: query
                  description: |-
                    Max repositories to return. Defaults to 30 when unset or 0. Values above
                     100 are clamped to 100.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: |-
                    Opaque cursor from a previous response's `next_page_token`. Empty for the
                     first page.
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListAppInstallationRepositoriesResponse'
                            examples:
                                listAppInstallationRepositories:
                                    value:
                                        repositories:
                                            - id: repo_01k2ja2000e0080000000000q4
                                              name: rocket
                                              fullName: acme/rocket
                                              owner:
                                                slug: acme
                                                id: ns_01k2ja2000e0080000000000p3
                                                type: team
                                              defaultBranch: main
                                              createdAt: "2026-08-01T09:30:00Z"
                                              updatedAt: "2026-08-02T14:45:00Z"
                                              pushedAt: "2026-08-02T14:45:00Z"
                                              cloneUrl: https://origin.cursor.com/git/acme/rocket.git
                                        repoSelectionMode: selected
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - installation
                scopes:
                    - installation:metadata:read
                ambient: true
    /v1/origin/namespaces/{namespaceSlug}/apps:
        get:
            tags:
                - OriginService
            description: Lists apps owned by a namespace, ordered by creation time descending.
            operationId: OriginService_ListNamespaceApps
            parameters:
                - name: namespaceSlug
                  in: path
                  description: Slug of the namespace whose apps to list.
                  required: true
                  schema:
                    type: string
                - name: pageSize
                  in: query
                  description: |-
                    Max apps to return. Defaults to 30 when unset or 0. Values above 100 are
                     clamped to 100.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: |-
                    Opaque cursor from a previous response's `next_page_token`. Empty for the
                     first page.
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListNamespaceAppsResponse'
                            examples:
                                listNamespaceApps:
                                    value:
                                        apps:
                                            - id: app_01k2ja2000e0080000000000a1
                                              displayName: CI Status Bot
                                              description: Posts CI status on pull requests.
                                            - id: app_01k2ja2000e0080000000000a2
                                              displayName: Deploy Bot
                                              description: ""
                                        nextPageToken: ""
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "404":
                    description: The addressed resource, or its repository, does not exist or is not visible to the caller. Not-found and no-access are deliberately indistinguishable; a 404 never confirms that the resource does not exist.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - user
                scopes:
                    - namespace:apps:read
        post:
            tags:
                - OriginService
            description: |-
                Creates an app owned by a namespace.

                 Apps are created private. `public_key` must be a PEM SPKI Ed25519 public
                 key; the caller generates the key pair locally and retains the private
                 key, and only the public key is stored, for app JWT verification.
                 Invalid webhook URLs, event types, redirect URIs, or scopes are rejected
                 as invalid arguments.
            operationId: OriginService_CreateApp
            parameters:
                - name: namespaceSlug
                  in: path
                  description: Slug of the namespace that will own the app.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            required:
                                - displayName
                                - publicKey
                            type: object
                            properties:
                                displayName:
                                    type: string
                                    description: Human-facing app name. Must not be empty.
                                publicKey:
                                    type: string
                                    description: |-
                                        PEM SPKI Ed25519 public key for the app's signing key pair. The caller
                                         generates the key pair locally and retains the private key; only the
                                         public key is stored, for app JWT verification.
                                webhookUrl:
                                    type: string
                                    description: |-
                                        Outbound webhook delivery URL: an absolute https URL. Empty means the app
                                         receives no webhook deliveries.
                                events:
                                    type: array
                                    items:
                                        type: string
                                    description: |-
                                        Outbound webhook event subscriptions (for example `pull_request.created`
                                         or `repository.pushed`). Unknown event types are rejected.
                                description:
                                    type: string
                                    description: Short app description.
                                websiteUrl:
                                    type: string
                                    description: 'Publisher website: an absolute https URL.'
                                installationRedirectUris:
                                    type: array
                                    items:
                                        type: string
                                    description: |-
                                        OAuth install callback allowlist: redirect URIs an app-initiated install
                                         may return to (absolute https URI, no fragment), matched exactly at
                                         authorize time.
                                defaultScopes:
                                    type: array
                                    items:
                                        type: string
                                    description: |-
                                        Default scopes offered when the app is installed, as catalog scope
                                         strings (for example `repository:contents:read`). Installs still accept
                                         scopes explicitly.
                        examples:
                            createApp:
                                value:
                                    displayName: CI Status Bot
                                    publicKey: |-
                                        -----BEGIN PUBLIC KEY-----
                                        MCowBQYDK2VwAyEAv7wFoV1bC9yKq3nZ8dQmXh5uJb2tR4sEwG6aP0iN8kY=
                                        -----END PUBLIC KEY-----
                                    webhookUrl: https://ci.acme.dev/webhooks/origin
                                    events:
                                        - pull_request.created
                                        - pull_request.merged
                                    description: Posts CI status on pull requests.
                                    websiteUrl: https://ci.acme.dev
                                    installationRedirectUris:
                                        - https://ci.acme.dev/origin/setup
                                    defaultScopes:
                                        - repository:contents:read
                                        - repository:pull_requests:read
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/App'
                            examples:
                                createApp:
                                    value:
                                        id: app_01k2ja2000e0080000000000a1
                                        displayName: CI Status Bot
                                        webhookUrl: https://ci.acme.dev/webhooks/origin
                                        events:
                                            - pull_request.created
                                            - pull_request.merged
                                        createdAt: "2026-08-01T09:30:00Z"
                                        updatedAt: "2026-08-01T09:30:00Z"
                                        installationRedirectUris:
                                            - https://ci.acme.dev/origin/setup
                                        namespaceSlug: acme
                                        description: Posts CI status on pull requests.
                                        websiteUrl: https://ci.acme.dev
                                        defaultScopes:
                                            - repository:contents:read
                                            - repository:pull_requests:read
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "404":
                    description: The addressed resource, or its repository, does not exist or is not visible to the caller. Not-found and no-access are deliberately indistinguishable; a 404 never confirms that the resource does not exist.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - user
                scopes:
                    - namespace:apps:create
    /v1/origin/owners/{ownerSlug}/grants:
        get:
            tags:
                - OriginService
            description: |-
                Lists who has been granted access to an owner: users, groups, and the
                 owning team's built-in admin and member groups. Each grant carries the
                 permission it confers on every repository under the owner. Grants made on
                 individual repositories are not included; see `ListRepositoryGrants`.
                 Requires the `namespace:settings:read` scope. Paginated with `page_size`
                 and `page_token`; default page size is 30, maximum is 100.
            operationId: OriginService_ListNamespaceGrants
            parameters:
                - name: ownerSlug
                  in: path
                  description: Slug of the owner whose grants to list.
                  required: true
                  schema:
                    type: string
                - name: pageSize
                  in: query
                  description: |-
                    Max grants to return. Defaults to 30 when unset or 0. Values above 100
                     are clamped to 100. Ignored when `page_token` is set.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: |-
                    Opaque cursor from a previous response's `next_page_token`. Empty for the
                     first page.
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListNamespaceGrantsResponse'
                            examples:
                                listNamespaceGrants:
                                    value:
                                        grants:
                                            - group:
                                                id: grp_01k2ja2000e0080000000000n2
                                              permission: PERMISSION_ADMIN
                                            - teamGroup:
                                                kind: admins
                                              permission: PERMISSION_ADMIN
                                            - teamGroup:
                                                kind: members
                                              permission: PERMISSION_CONTRIBUTOR
                                            - user:
                                                id: user_01k2ja2000e0080000000000c3
                                                email: jane@acme.dev
                                              permission: PERMISSION_WRITE
                                        nextPageToken: ""
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "404":
                    description: The addressed resource, or its repository, does not exist or is not visible to the caller. Not-found and no-access are deliberately indistinguishable; a 404 never confirms that the resource does not exist.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - installation
                    - user
                scopes:
                    - namespace:settings:read
        post:
            tags:
                - OriginService
            description: |-
                Sets the permission a user, group, or owning-team group holds directly on
                 an owner, replacing any permission previously granted directly to that
                 principal. Repeating a grant the principal already holds succeeds without
                 change. Only the four presets are accepted; `PERMISSION_CUSTOM` fails with
                 INVALID_ARGUMENT. A user must be an active member of the owning team or
                 its organization and a group an active group of that organization, and the
                 write must leave the owner with at least one admin; otherwise the request
                 fails with FAILED_PRECONDITION.
            operationId: OriginService_UpsertNamespaceGrant
            parameters:
                - name: ownerSlug
                  in: path
                  description: Owner slug.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            required:
                                - permission
                            type: object
                            properties:
                                user:
                                    $ref: '#/components/schemas/OriginUserActor'
                                group:
                                    $ref: '#/components/schemas/OriginGroup'
                                teamGroup:
                                    $ref: '#/components/schemas/OriginTeamGroup'
                                permission:
                                    enum:
                                        - PERMISSION_READ
                                        - PERMISSION_CONTRIBUTOR
                                        - PERMISSION_WRITE
                                        - PERMISSION_ADMIN
                                        - PERMISSION_CUSTOM
                                    type: string
                                    description: |-
                                        `PERMISSION_READ`, `PERMISSION_CONTRIBUTOR`, `PERMISSION_WRITE`, or
                                         `PERMISSION_ADMIN`.
                                    format: enum
                        examples:
                            upsertNamespaceGrant:
                                value:
                                    user:
                                        id: user_01k2ja2000e0080000000000c3
                                    permission: PERMISSION_WRITE
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NamespaceGrant'
                            examples:
                                upsertNamespaceGrant:
                                    value:
                                        user:
                                            id: user_01k2ja2000e0080000000000c3
                                            email: jane@acme.dev
                                        permission: PERMISSION_WRITE
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "404":
                    description: The addressed resource, or its repository, does not exist or is not visible to the caller. Not-found and no-access are deliberately indistinguishable; a 404 never confirms that the resource does not exist.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - installation
                    - user
                scopes:
                    - namespace:settings:write
        delete:
            tags:
                - OriginService
            description: |-
                Removes the permission a user, group, or owning-team group holds directly
                 on an owner. Per-repository grants are unaffected. Removing a permission
                 the principal does not hold directly succeeds without change; a removal
                 that would leave the owner without an admin fails with
                 FAILED_PRECONDITION.
            operationId: OriginService_DeleteNamespaceGrant
            parameters:
                - name: ownerSlug
                  in: path
                  description: Owner slug.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                user:
                                    $ref: '#/components/schemas/OriginUserActor'
                                group:
                                    $ref: '#/components/schemas/OriginGroup'
                                teamGroup:
                                    $ref: '#/components/schemas/OriginTeamGroup'
                        examples:
                            deleteNamespaceGrant:
                                value:
                                    group:
                                        id: grp_01k2ja2000e0080000000000n2
                required: true
            responses:
                "204":
                    description: OK
                    content: {}
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "404":
                    description: The addressed resource, or its repository, does not exist or is not visible to the caller. Not-found and no-access are deliberately indistinguishable; a 404 never confirms that the resource does not exist.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - installation
                    - user
                scopes:
                    - namespace:settings:write
    /v1/origin/rate_limit:
        get:
            tags:
                - OriginService
            description: |-
                Returns the authenticated principal's current public API rate limit status.

                 Accessing this endpoint does not consume rate limit points. The response
                 covers the shared per-minute point budget used by other public API
                 endpoints for this principal.
            operationId: OriginService_GetRateLimit
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/RateLimitStatus'
                            examples:
                                getRateLimit:
                                    value:
                                        resources:
                                            core:
                                                limit: 6000
                                                remaining: 5994
                                                reset: 1785682800
                                                used: 6
                                        rate:
                                            limit: 6000
                                            remaining: 5994
                                            reset: 1785682800
                                            used: 6
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - app
                    - installation
                    - user
                scopes: []
    /v1/origin/repos/{ownerSlug}:
        get:
            tags:
                - OriginService
            description: Lists repos belonging to an owner entity.
            operationId: OriginService_ListRepos
            parameters:
                - name: ownerSlug
                  in: path
                  description: Parent owner entity slug.
                  required: true
                  schema:
                    type: string
                - name: pageSize
                  in: query
                  description: |-
                    Max repos to return. Defaults to 30 when unset or 0. Values above 100 are
                     clamped to 100.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: |-
                    Opaque cursor from a previous response's `next_page_token`. Empty for the
                     first page.
                  schema:
                    type: string
                - name: filter
                  in: query
                  description: Optional case-insensitive substring filter.
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListReposResponse'
                            examples:
                                listRepos:
                                    value:
                                        repositories:
                                            - id: repo_01k2ja2000e0080000000000q4
                                              name: rocket
                                              fullName: acme/rocket
                                              owner:
                                                slug: acme
                                                id: ns_01k2ja2000e0080000000000p3
                                                type: team
                                              defaultBranch: main
                                              createdAt: "2026-08-01T09:30:00Z"
                                              updatedAt: "2026-08-02T14:45:00Z"
                                              pushedAt: "2026-08-02T14:45:00Z"
                                              cloneUrl: https://origin.cursor.com/git/acme/rocket.git
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "404":
                    description: The addressed resource, or its repository, does not exist or is not visible to the caller. Not-found and no-access are deliberately indistinguishable; a 404 never confirms that the resource does not exist.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - user
                scopes:
                    - namespace:repositories:read
        post:
            tags:
                - OriginService
            description: Creates a repo belonging to an owner.
            operationId: OriginService_CreateRepo
            parameters:
                - name: ownerSlug
                  in: path
                  description: Parent owner entity's slug.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Repo'
                        examples:
                            createRepo:
                                value:
                                    name: rocket
                                    defaultBranch: main
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Repo'
                            examples:
                                createRepo:
                                    value:
                                        id: repo_01k2ja2000e0080000000000q4
                                        name: rocket
                                        fullName: acme/rocket
                                        owner:
                                            slug: acme
                                            id: ns_01k2ja2000e0080000000000p3
                                            type: team
                                        defaultBranch: main
                                        createdAt: "2026-08-01T09:30:00Z"
                                        updatedAt: "2026-08-02T14:45:00Z"
                                        pushedAt: "2026-08-02T14:45:00Z"
                                        cloneUrl: https://origin.cursor.com/git/acme/rocket.git
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "404":
                    description: The addressed resource, or its repository, does not exist or is not visible to the caller. Not-found and no-access are deliberately indistinguishable; a 404 never confirms that the resource does not exist.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "409":
                    description: The request conflicts with the current state of the resource.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - user
                scopes:
                    - namespace:repositories:create
    /v1/origin/repos/{ownerSlug}/{repoName}:
        get:
            tags:
                - OriginService
            description: Returns a single repo by its `(owner_id, name)` identifier.
            operationId: OriginService_GetRepo
            parameters:
                - name: ownerSlug
                  in: path
                  description: Owning entity's unique slug.
                  required: true
                  schema:
                    type: string
                - name: repoName
                  in: path
                  description: Repo name, unique to the owner entity.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Repo'
                            examples:
                                getRepo:
                                    value:
                                        id: repo_01k2ja2000e0080000000000q4
                                        name: rocket
                                        fullName: acme/rocket
                                        owner:
                                            slug: acme
                                            id: ns_01k2ja2000e0080000000000p3
                                            type: team
                                        defaultBranch: main
                                        createdAt: "2026-08-01T09:30:00Z"
                                        updatedAt: "2026-08-02T14:45:00Z"
                                        pushedAt: "2026-08-02T14:45:00Z"
                                        cloneUrl: https://origin.cursor.com/git/acme/rocket.git
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "404":
                    description: The addressed resource, or its repository, does not exist or is not visible to the caller. Not-found and no-access are deliberately indistinguishable; a 404 never confirms that the resource does not exist.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - installation
                    - user
                scopes:
                    - repository:metadata:read
        patch:
            tags:
                - OriginService
            description: |-
                Updates repository settings. Omitted fields are left unchanged; at least
                 one settable field must be provided.

                 Provided settings are applied as independent groups in a fixed order:
                 default branch, automatic head-branch deletion, visibility, then merge
                 methods. When a group is rejected, groups earlier in that order have
                 already been applied and remain applied; retrying with the rejected group
                 corrected converges on the requested state.
            operationId: OriginService_UpdateRepo
            parameters:
                - name: ownerSlug
                  in: path
                  description: Owning entity's unique slug.
                  required: true
                  schema:
                    type: string
                - name: repoName
                  in: path
                  description: Repo name, unique to the owner entity.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                defaultBranch:
                                    type: string
                                    description: |-
                                        New default branch. Must name an existing branch. Supported only on
                                         repositories that do not pull from or push to an upstream source;
                                         other repositories are rejected with a failed-precondition error.
                                allowMergeCommit:
                                    type: boolean
                                    description: |-
                                        Whether pull requests may land as merge commits. Must be provided
                                         together with `allow_squash_merge`; at least one of the two must be
                                         true. Providing one without the other is rejected as invalid.
                                allowSquashMerge:
                                    type: boolean
                                    description: |-
                                        Whether pull requests may land as squash merges. Must be provided
                                         together with `allow_merge_commit`; at least one of the two must be
                                         true. Providing one without the other is rejected as invalid.
                                deleteBranchOnMerge:
                                    type: boolean
                                    description: |-
                                        Whether the head branch is deleted automatically on merge. Supported
                                         only on repositories whose pull requests live on this API; repositories
                                         pulling from an upstream source are rejected with a failed-precondition
                                         error.
                                visibility:
                                    enum:
                                        - internal
                                        - private
                                    type: string
                                    description: |-
                                        New repository visibility, `internal` or `private`. Unspecified leaves
                                         the visibility unchanged.
                                    format: enum
                        examples:
                            updateRepo:
                                value:
                                    defaultBranch: main
                                    allowMergeCommit: false
                                    allowSquashMerge: true
                                    deleteBranchOnMerge: true
                                    visibility: private
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Repo'
                            examples:
                                updateRepo:
                                    value:
                                        id: repo_01k2ja2000e0080000000000q4
                                        name: rocket
                                        fullName: acme/rocket
                                        owner:
                                            slug: acme
                                            id: ns_01k2ja2000e0080000000000p3
                                            type: team
                                        defaultBranch: main
                                        createdAt: "2026-08-01T09:30:00Z"
                                        updatedAt: "2026-08-02T14:45:00Z"
                                        pushedAt: "2026-08-02T14:45:00Z"
                                        cloneUrl: https://origin.cursor.com/git/acme/rocket.git
                                        visibility: private
                                        allowMergeCommit: false
                                        allowSquashMerge: true
                                        deleteBranchOnMerge: true
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
[...]
